pipeline/Download Complete History.json
{
	"name": "Download Complete History",
	"properties": {
		"activities": [
			{
				"name": "Lookup parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "JSON",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "meta.json",
							"Directory": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"Container": "meta"
						}
					}
				}
			},
			{
				"name": "Copy data1_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['sourceId']"
								},
								"sink": {
									"path": "sourceId"
								}
							},
							{
								"source": {
									"path": "['referenceTime']"
								},
								"sink": {
									"path": "referenceTime"
								}
							},
							{
								"source": {
									"path": "['observations'][0]['elementId']"
								},
								"sink": {
									"path": "elementMin"
								}
							},
							{
								"source": {
									"path": "['observations'][0]['value']"
								},
								"sink": {
									"path": "Min"
								}
							},
							{
								"source": {
									"path": "['observations'][1]['elementId']"
								},
								"sink": {
									"path": "elementMax"
								}
							},
							{
								"source": {
									"path": "['observations'][1]['value']"
								},
								"sink": {
									"path": "Max"
								}
							}
						],
						"collectionReference": "$['data']"
					}
				},
				"inputs": [
					{
						"referenceName": "FrostRestAPI",
						"type": "DatasetReference",
						"parameters": {
							"sources": {
								"value": "@concat('sources=', activity('Lookup parameters').output.firstRow.sources)",
								"type": "Expression"
							},
							"referencetime": {
								"value": "@concat('referencetime=', activity('Lookup parameters').output.firstRow.startDate, '/', utcNow('yyyy-MM-dd'))",
								"type": "Expression"
							},
							"elements": {
								"value": "@concat('elements=', activity('Lookup parameters').output.firstRow.elements)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "JSON",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@concat(activity('Lookup parameters').output.firstRow.startDate,'_', utcNow('yyyy-MM-dd'), '.json')",
								"type": "Expression"
							},
							"Directory": "raw_json",
							"Container": "frost"
						}
					}
				]
			}
		],
		"folder": {
			"name": "FrostPipelines"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-30T19:48:33Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}