pipeline/Download Complete History.json
{
	"name": "Download Complete History",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0, activity('Lookup parameters').output.firstRow.monthsHistory)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{concat('v0.jsonld?', concat('sources=', activity('Lookup parameters').output.firstRow.sources), '&', concat('elements=', activity('Lookup parameters').output.firstRow.elements), '&', concat('referencetime=', subtractFromTime(utcnow(), add(item(), 1), 'Month', 'yyyy-MM'), '/', subtractFromTime(utcnow(), item(), 'Month', 'yyyy-MM')))}"
								},
								{
									"name": "Destination",
									"value": "raw-files/@{'data'}/@{concat(subtractFromTime(utcnow(), item(), 'Month', 'yyyy-MM'),'.json')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['sourceId']"
											},
											"sink": {
												"path": "sourceId"
											}
										},
										{
											"source": {
												"path": "['referenceTime']"
											},
											"sink": {
												"path": "referenceTime"
											}
										},
										{
											"source": {
												"path": "['observations'][0]['elementId']"
											},
											"sink": {
												"path": "elementMin"
											}
										},
										{
											"source": {
												"path": "['observations'][0]['value']"
											},
											"sink": {
												"path": "Min"
											}
										},
										{
											"source": {
												"path": "['observations'][1]['elementId']"
											},
											"sink": {
												"path": "elementMax"
											}
										},
										{
											"source": {
												"path": "['observations'][1]['value']"
											},
											"sink": {
												"path": "Max"
											}
										}
									],
									"collectionReference": "$['data']"
								}
							},
							"inputs": [
								{
									"referenceName": "FrostRestAPI",
									"type": "DatasetReference",
									"parameters": {
										"sources": {
											"value": "@concat('sources=', activity('Lookup parameters').output.firstRow.sources)",
											"type": "Expression"
										},
										"referencetime": {
											"value": "@concat('referencetime=', subtractFromTime(utcnow(), add(item(), 1), 'Month', 'yyyy-MM'), '/', subtractFromTime(utcnow(), item(), 'Month', 'yyyy-MM'))",
											"type": "Expression"
										},
										"elements": {
											"value": "@concat('elements=', activity('Lookup parameters').output.firstRow.elements)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat('historic', utcnow('yyyy-MM'), '.json')",
											"type": "Expression"
										},
										"Directory": "raw_json",
										"Container": "frost"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Meta",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "FrostPipelines_Complex"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-30T19:48:33Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}