pipeline/MainFrost.json
{
	"name": "MainFrost",
	"properties": {
		"activities": [
			{
				"name": "Check Folder Exists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "JSON",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"Directory": "raw_json",
							"Container": "frost"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Lookup parameters",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Check Folder Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "JSON",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "meta.json",
							"Directory": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"Container": "meta"
						}
					}
				}
			},
			{
				"name": "Copy data1_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "FrostRestAPI",
						"type": "DatasetReference",
						"parameters": {
							"sources": {
								"value": "@concat('sources=', activity('Lookup parameters').output.firstRow.sources)",
								"type": "Expression"
							},
							"referencetime": {
								"value": "@concat('referencetime=', activity('Lookup parameters').output.firstRow.startDate, '/', utcNow('yyyy-MM-dd'))",
								"type": "Expression"
							},
							"elements": {
								"value": "@concat('elements=', activity('Lookup parameters').output.firstRow.elements)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "JSON",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "raw_data.json",
							"Directory": "raw",
							"Container": "frost"
						}
					}
				]
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "FlattenFrost",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"folder": {
			"name": "FrostPipelines"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-30T19:48:39Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}