pipeline/Read and Write Config File.json
{
	"name": "Read and Write Config File",
	"properties": {
		"activities": [
			{
				"name": "Set startDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "startDate",
					"value": {
						"value": "@utcnow('yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Raw_File_Container",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"lastModified",
						"childItems",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Set LastFile",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastFile",
					"value": {
						"value": "@replace(activity('Get Metadata1').output.childItems[add(length(activity('Get Metadata1').output.childItems),-1)].name, '.json', '')\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"startDate": {
				"type": "String"
			},
			"lastFile": {
				"type": "String"
			}
		},
		"folder": {
			"name": "temp"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-12T10:06:01Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}